<div class="col-xs-12">
    <%= will_paginate @ads, renderer: BootstrapPagination::Rails %>
</div>
<%= render @ads %>
<div class="col-xs-12"><%= will_paginate @ads, renderer: BootstrapPagination::Rails %></div>