<h1>Ad Generator</h1>
<div class="row">
    <div id="form" class="col-xs-6">form</div>
    <div id="preview" class="col-xs-6">preview</div>
</div>
<div class="row">
    <div class="col-xs-12">pagination</div>
    <div class="col-xs-3">design</div>
    <div class="col-xs-12">pagination</div>
</div>