
<h1>Ad Generator</h1>
<div class="row">
    <div id="form" class="col-xs-6"><%= render 'pages/form', ad: @ad %></div>
    <div id="preview" class="col-xs-6"><%= render 'pages/preview' %></div>
</div>
<h2>Past Designs</h2>
<div id="list" class="row">
    <%= render "pages/list" %>
</div>
<script>
    $(function(){
     $('.fill').find('img').each(function(){
      var imgClass = (this.width/this.height > $(this).parent().width()/$(this).parent().height()) ? 'wide' : 'tall';
      $(this).addClass(imgClass);
     })
    })
</script>